.secret-container {
  width: 100%;
  height: auto;
  background: var(--av-backgroud-color);
}

.secret-wrapper-container {
  width: 100%;
  height: auto;
}

.about-gradient-circle {
  width: 756px;
  height: 664px;
  border-radius: 756px;
  opacity: 0.5;
  background: rgba(91, 110, 211, 0.5);
  filter: blur(224.18301391601562px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.secret-wrapper {
  width: 86%;
  height: auto;
  gap: 2.5rem;
  padding-top: 10rem;
}

.secret-left {
  flex: 1 1 100%;
  position: relative;
  z-index: 2;
}

.secret-right {
  flex: 1 1 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.secret-head-para {
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 66px; /* 165% */
  padding-bottom: 10px;

  background: linear-gradient(
    89deg,
    #ff2747 -10.62%,
    #2e3768 428.68%,
    #10121f 428.73%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.secret-desc {
  width: 93%;
  color: var(--av-PrimaryText);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 180%; /* 36px */
}

.secret-desc.para2 {
  padding-top: 20px;
}

.secret-desc span {
  font-weight: 600;
}

.super-heroes {
  /* color: #88ffe2; */
  color: #ebb14f;
}

.childs {
  padding-top: 5rem;
}

/* =========MEDIA QUERIES ===================== */

/* =============MOBILE SMALL SCREENS================= */

@media only screen and (max-width: 400px) {
  .secret-wrapper {
    width: 86%;
    flex-direction: column;
    padding-block: 3rem;
    padding-bottom: 0;
  }

  .about-gradient-circle {
    width: 341.476px;
    height: 154.879px;
    border-radius: 341.476px;
    background: rgba(91, 110, 211, 0.5);
    filter: blur(101.22803497314453px);
  }

  .secret-left {
    padding-top: 76px;
  }

  .secret-head-para {
    font-size: 32px;
  }

  .secret-desc {
    width: 100%;
    font-size: 16px;
  }

  .secret-desc.para2 {
    padding-bottom: 12px;
  }

  .secret-right img {
    width: 100%;
    height: auto;
  }

  .childs {
    padding-top: 0rem;
  }
}

/* =============MOBILE Large SCREENS================= */

@media only screen and (min-width: 401px) and (max-width: 600px) {
  .secret-wrapper {
    width: 86%;
    flex-direction: column;
    padding-block: 3rem;
    padding-bottom: 0;
  }

  .about-gradient-circle {
    width: 341.476px;
    height: 154.879px;
    border-radius: 341.476px;
    background: rgba(91, 110, 211, 0.5);
    filter: blur(101.22803497314453px);
  }

  .secret-head-para {
    font-size: 32px;
  }

  .secret-left {
    padding-top: 76px;
  }

  .secret-desc {
    width: 100%;
    font-size: 16px;
  }

  .secret-desc.para2 {
    padding-bottom: 12px;
  }

  .secret-right img {
    width: 100%;
    height: auto;
  }

  .childs {
    padding-top: 0rem;
  }
}

/* =============TBLETS SMALL SCREENS================= */

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .secret-wrapper {
    width: 90%;
    padding-block: 4rem;
    padding-bottom: 0;
  }

  .secret-head-para {
    font-size: 32px;
  }

  .secret-left {
    padding-top: 76px;
  }

  .secret-desc {
    width: 100%;
    font-size: 14px;
  }

  .secret-right img {
    width: 100%;
    height: auto;
  }

  .childs {
    padding-top: 0;
  }
}

/* =============LAPTOP SMALL SCREENS================= */

@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .secret-wrapper {
    width: 90%;
    padding-block: 8rem;
    padding-bottom: 0;
  }

  .secret-head-para {
    font-size: 32px;
    /* padding-bottom: 0; */
  }

  .secret-desc {
    width: 100%;
    font-size: 16px;
    /* padding-bottom: 8px; */
  }

  .secret-right img {
    width: 100%;
    height: auto;
  }

  .childs {
    padding-top: 1rem;
  }
}
